    {% extends getPartial('page-design') %}
    {% import "Ceres::PageDesign.Macros.LayoutContainer" as LayoutContainer %}
     
    {% block PageBody %}
     
        {{ component( "Theme::content.Components.ReleaseDateList" ) }}
     
        ...
     
        <div class="Test">
     
            <div class="row m-t-1">
                <div class="col-xs-12">
                    <h1 class="h4">HIGH</h1>
                </div>
            </div>
     
            <hr class="m-b-3">
     
            <div class="row">
                <div class="col-xs-12">
                  <basket-list template="#release-date-list"></basket-list>
                </div>
            </div>
			
</div>

{% include [category_template( item.documents[0].data.item.add_cms_page, lang, webstoreConfig.webstoreId ), "Theme::Components.ReleaseDateList"] %}
     
        ...
     
    {% endblock %}